sources:
  c:\temp: https://s3-us-west-2.amazonaws.com/plantmonitoringsystem/requirements.zip
commands:
  vcSetup:
    command: vcredist_x64 /install /quiet
    cwd: c:\temp
    waitAfterCompletion: 0
  mysqlConnectorSetup:
    command: msiexec /i mysql-connector-net-6.9.8.msi /quiet /norestart
    cwd: c:\temp
    waitAfterCompletion: 0
  setAppPoolIdentity:
    command: AppCmd.exe set apppool DefaultAppPool -processModel.identityType:LocalSystem
    cwd: c:\windows\system32\inetsrv
    waitAfterCompletion: 0