<ion-view view-title="{{node.friendlyName}}">
  <ion-content class="padding">
    <ul class="list">
      <a class="item item-icon-left item-icon-right" href="#/app/node/{{node.id}}/edit">
        <i class="icon ion-edit"></i>
        Edit Settings
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <!--
      <a class="item item-icon-left item-icon-right" href="#/app/node/{{node.id}}/behavior">
      -->
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-list-outline"></i>
        Choose A Behavior
        <i class="icon ion-ios-arrow-forward"></i>
      </a>
      <li class="item item-toggle">
         Turn On The Light
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="node.lightOn" ng-click="toggleLight()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Turn On The Water
         <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="node.waterOn" ng-click="toggleWater()">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
  </ion-content>
</ion-view>
