<ion-view view-title="Choose a Behavior">
  <ion-content class="padding">
    <ul class="list">

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" name="test">
         </label>
         Default
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" name="test">
         </label>
         Automatic
      </li>

      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" name="test">
         </label>
         Manual
      </li>

      <button class="button button-block button-assertive">
        Save
      </button>

    </ul>

  </ion-content>
</ion-view>
