.node-list, .sensor-graph {
  .spinner {
    svg {
      margin: 10px 0px;
    }
  }
}


.node-status-on {
  color: #33cd5f;
}

.node-light-on {
  color: #ffc900;
}

.node-water-on {
  color: #387ef5;
}
/*
.node-status-offline {
  color: #ef473a;
}
*/
